*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar styling */

.navbar{
    width:100%;
    height:60px;
    background-color: #ff6f6f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links{
    display: flex;
   align-items: center;
   gap: 20px;
}

.nav-links span{
    margin: 0 28px;
    font-weight:700;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: "Playfair Display", serif;
}

.nav-links img{
    width:28px;
    height: 28px;
    cursor: pointer;
}

/* Hero Section */

.hero{
    display: flex;
    height: calc(100vh - 55px);
    background: linear-gradient(to right,#fefa9b 0%,#ffb3d9 70%);

}

.hero-left{
    width: 50%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text{
    font-size: 55px;
    letter-spacing: 6px;
    margin-top: 80px;
    margin-bottom: 50px;

}

.hero-content{
    font-family: "Poppins",serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 600px;
    color: #555;
    margin-bottom: 20px;
}

.hero-left button{
    background:#ff6f6f;
    color: white;
    border: none;
    padding: 14px 65px;
    width: fit-content;
    cursor: pointer;
    margin-top: 30px;
}

.hero-left button h3{
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}


.hero-right{
    width: 50%;
    height: 100%;
}

.hero-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Bottom Section */

.bottom{
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 100px;
    background: linear-gradient(to right,#fff3b0,#ffb3d9);
}

.image-section{
    display: flex;
    gap: 25px;
}

.image-left{
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.image-left img{
    width: 330px;
    height:260px;
    object-fit: cover;
}

.image-right img{
    width: 330px;
    height:545px;
    object-fit: cover;
}

.text-card{
    background: #ee6f6f;
    padding: 45px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.text-card h4{
    font-family: "Inter",sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0;
}
.text-card h2{
    font-size: 52px;
    letter-spacing: 3px;
    margin: 0;
    font-weight: bolder;
}
 .text-card p{
    font-weight: bold;
    margin: 0;
 }

/* Tablet responsiveness of NavBar */
@media (max-width: 1024px) and (min-width: 768px) {

    .navbar{
        height: 55px;
        padding: 0 8px;
    }

    .nav-links{
        flex-wrap: nowrap;
    }

    .nav-links span{
        margin: 0 14px;        
        font-size: 15px;       
        letter-spacing: 1.2px;
        white-space: nowrap;
    }

    .nav-links img{
        width: 18px;
        height: 18px;
    }
}


/* Mobile responsiveness of NavBar */
@media (max-width:767px){
    .navbar{
        height: auto;
        padding: 8px 0;
        
        align-items: flex-start;
    }

    .nav-links{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0 15px;
    }
    .nav-links span{
        width: 100%;
        margin: 0;
        text-align: left;
        padding: 10px 0;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        border-bottom: 1px solid rgba(0,0,0,0.4);
        white-space: nowrap;
    }
    .nav-links span img{
        border-bottom: none;
        padding-bottom: none;
    }
    .nav-links img{
        /* margin-top: px; */
        width: 26px;
        height: 26px;
        border-bottom: none;
    }

    .nav-links span:last-child{
        border-bottom: none;
        padding-bottom: 0;
    }
}

/* tablet responsivness of Hero Section */


@media screen and (min-width:768px) and (max-width:1024px){
    .hero{
        flex-direction: column-reverse;
        height: auto ;
        /* padding-top: 20px; */
    }
    .hero-right{
        width: 100%;
        /* height: 320px; */
        overflow: hidden;
    }
    .hero-right img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-fit: cover;
        object-position: top;
    }
    .hero-left{
        width: 100%;
        padding: 30px 25px;
        justify-content: flex-start;
    }
    .hero-text{
        font-size: 28px;
        letter-spacing: 3px;
        line-height: 1.1;
        margin:10px 0 8px 0;
    }
    .hero-content{
        font-size: 16px;
        max-width: 100%;
        line-height: 1.45;
        margin: 30px 0 14px 0;
    }
    .hero-left button{
        margin-top: 20px;
        padding: 20px 50px;
    }
}

/* Mobile responsiveness of Hero Section */

@media screen and (max-width:767px){
    .hero{
        flex-direction: column-reverse;
        height: auto;
    }
    .hero-right{
        width:100%;
        height: 240px;
    }
    .hero-left{
        width: 100%;
        padding: 20px 22px;
    }
    .hero-text{
        font-size: 24px;
        line-height: 1.4;
        margin-top: 15px;
        /* margin-bottom: 6px; */
    }
    .hero-content{
        font-size: 15px;
        font-weight: 500;
        line-height: 1.9;
        /* margin-bottom: 12px; */
        margin-top:-25px;
    }
    .hero-left button{
        margin-top: 6px;
        padding: 10px 48px;
    }
}


@media screen and (min-width:768px) and (max-width:1024px){
    .bottom{
        flex-direction: column;
        padding: 40px 20px;
        gap: 30px;
    }
    .image-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        gap: 25px;
    }
    .image-left{
        display: flex;
        grid-template-rows: 1fr 1fr;
        height: 250px;
        width:350px;
        gap: 30px;
       
    }
    .image-right{
        height: 530px;
        width:340px;
    }

    .image-left img,
    .image-right img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .image-left{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .image-right{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .text-card{
        width: 400px;
        max-width: none;
    }
    .text-card h2{
        font-size: 36px;
    }
}


@media (max-width:767px){
    .bottom{
        display: flex;
        flex-direction: column;
        padding: 24px 16px;
        gap: 24px;
    }
    .image-section{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .image-left{
        width:300px;
    }
    .image-left,
    .image-right{
        display: contents;
    }
    .image-section img{
        /* width: 100%; */
        height: 220px;
        object-fit: cover;
        display: block;
    }
    .text-card{
        width: 100%;
        height:250px;
        padding: 24px;

    }
    .text-card h4{
        font-size: 11px;
        letter-spacing: 1.6px;
    }
    .text-card h2{
        font-size:38px;
        font-weight:bold;
        line-height: 1.25;
    }
    .text-card p{
        margin-top: 12px;
    }
}